@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-white bg-slate-950;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea:focus, input:focus {
    outline: none;
}